body {
  padding: 50px;
}

.title {
  margin-bottom: 30px;
}

/* Vertical - Left navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
/* Vertical - Left navigation ======*/

header {
  background-color: #3B5CB2;
  width:100%;
  text-align: center;
  border-radius: 10px;
  top:0;
  left:0;
}
.btn-primary {
  background-color: #3B5CB2;
  border-color: #3B5CB2;
  width: 100%;
}

.add {
  padding: 50px;

}

.navbar {
  background-color: lightblue;
}

img {
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2{
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.item {
  font-size: 1.5em;
}
